@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
    

}

.logo-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    
}

.menu-bar {
    height: 90vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;

}

.session-info-sidebar {
    width: 300px; /* Defina a largura que deseja */
    background-color: #161616;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000; /* Certifique-se de que esteja acima do mapa */
  }
  
  .map-session {
    flex-grow: 1;
    margin-left: 300px; /* Ajuste para a largura do sidebar */
  }
  
